<h2>Product cart</h2>
<!-- <form (submit)="addProduct"> -->
<form (submit)="addProduct($event)">
  <label for="item">Product</label>
  <input type="text" name="item" id="item" [(ngModel)]="item">
  <label for="amount">Amount</label>
  <input type="number" name="amount" id="amount" [(ngModel)]="amount">
  <input type="submit" value="Add">
</form>
<br>
<!-- you can pass data to child components via attributes -->
<!-- you can use the attribute by name and pass a static string value -->
<!-- <app-selected-items [itemCount]="0"></app-selected-items> -->
<!-- you can use the attribute my [name] or bind-name and pass a property value or numbers and booleans -->
<app-selected-items bind-itemCount="selectedItems.length"></app-selected-items>
<ul>
  <ng-container *ngFor="let item of selectedItems">
    <app-item [name]="item.name" [amount]="item.amount"></app-item>
  </ng-container>
</ul>